.h1 {
	visibility: hidden;
}

@media screen and (min-width: 1081px) {
    img {
        content:url(https://user-images.githubusercontent.com/25018733/30504518-1316b362-9a24-11e7-87bf-754c73637cbd.png);
    }
	body {
	    background-color: black;
	}
}

@media screen and (max-width: 1080px) {
  img {
      content:url(https://user-images.githubusercontent.com/25018733/30504535-303c3250-9a24-11e7-8850-e8e8c7a7e2f5.png);
  }
	body {
	    background-image: url("https://media.tenor.com/images/96f7050202b6a25d24d95f0202d54ffd/tenor.gif");
	}
}

@media screen and (max-width: 820px) {
   img {
      content:url(https://user-images.githubusercontent.com/25018733/30504540-3acea25c-9a24-11e7-9150-ebd00f2c278f.png);
   }
	 body {
	    background-image: url("https://media.tenor.com/images/17717449d377f821b16ea8522dae7d6c/tenor.gif");
	}
}

@media screen and (max-width: 600px) {
  img {
      content:url(https://user-images.githubusercontent.com/25018733/30504557-62e66108-9a24-11e7-8e03-b914dd1df358.gif);
  }
}

@media screen and (max-width: 600px) {
	
	.h1 {
	visibility: visible;
	}
  .hidden {
        content:url(https://user-images.githubusercontent.com/25018733/30504540-3acea25c-9a24-11e7-9150-ebd00f2c278f.png);
  }
	body {
	    background-image: url("https://media.tenor.com/images/5c56f0e022cbd600cd4dbb2f7faab029/tenor.gif");
	}
}
